*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html,
p {
    margin: 0;
}

body {
    padding-top: 6.4rem;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 6.4rem;
    background-color: blue;
    border: 5px solid green;
    z-index: 5;
}

.scoll-content {
    background: red;
    width: 500px;
    height: 1000px;
}
