*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html,
p,
h1,
h2,
h3 {
    margin: 0;
}

.overflow-test {
    background: blue;
    height: 200px;
    width: 1000px;
}

body {
    padding-top: 6.4rem;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 6.4rem;
    background-color: blue;
    border: 5px solid green;
    z-index: 5;
    /* width: 100vw; */
}

.content {

}

.navigation {
    display: flex;
    position: sticky;
    top: 20rem;
    z-index: 6;
    height: 3.8rem;
    background-color: lightcoral;
}

.scoll-content {
    background: red;
    width: 500px;
    height: 1000px;
}
